
.titulo{
    text-align:center;
}

.jogador1{
    text-align:left;
    margin-top: 13vh;
}

.jogador2{
    text-align:right;
    margin-top: 13vh;
}

.main{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}


.jogo{
    display: flex;
    flex-direction: column;
}
.bt-tabuleiro{
    width: 10vw;
    height: 10vw;
    font-size:  50px;
    color: white;
    background-color: white;
}
.bt-jogar{
    width: 20vw;
    height: 4vw;
    font-size:  30px;
    color: white;
    background-color: dodgerblue;
    text-align: center;
    margin-left: 6.5vw;
    margin-top: 5px;
    visibility: hidden;
}
.linha{
    text-align: center;
}
.infos{
    font-size:  20px;
    text-align: center;
    margin-top: 10px;
    visibility: hidden;
}